::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dbdbdb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: white !important;
}

body,
button,
input,
textarea {
  letter-spacing: 0.2rem;
  overflow-x: hidden;
}

label,
input,
button,
textarea,
a,
td,
th,
.modal-body {
  font-size: 14px !important;
}

.admin-wrap form {
  width: 500px;
  margin: 0px auto 0px auto;
  border: 1px solid #ced4da;
}

.admin-wrap .form-btn-group a,
.admin-wrap .form-btn-group input {
  width: 80px;
}

.dashboard-wrap .header-icon-wrap {
  font-size: 12px;
}

.dashboard-wrap .header-icon-wrap i {
  font-size: 14px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap .header-icon-wrap .fa-sort-down::before {
  position: relative;
  top: -2px;
}

.dashboard-wrap .header-icon-wrap a > i:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.dashboard-wrap aside {
  position: absolute;
  left: -250px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap aside.active {
  position: absolute !important;
  left: 0px !important;
}

.dashboard-wrap aside .accordion .accordion-item {
  padding: 12px 0 12px 0;
}

.dashboard-wrap aside .accordion .accordion-item.active {
  background-color: #545b62 !important;
}

.dashboard-wrap aside .accordion .accordion-item.active .fa-angle-down {
  left: -3px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dashboard-wrap aside .accordion .accordion-item .fa-angle-down {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dashboard-wrap aside .accordion li i {
  width: 30px;
}

.dashboard-wrap aside .accordion .accordion-item-list {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: gray;
  border-radius: 0 0 0.25rem 0.25rem;
}

.dashboard-wrap aside .accordion .accordion-item-list.active {
  max-height: 500px;
}

.dashboard-wrap aside .accordion .accordion-item-list a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 0 12px 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap aside .accordion .accordion-item-list a:hover {
  color: white;
}

.dashboard-wrap main {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  left: 0px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap main.active {
  position: absolute !important;
  left: 250px !important;
}

.dashboard-wrap main .breadcrumb a {
  font-size: 12px !important;
}

@media screen and (min-width: 768px) {
  .dashboard-wrap aside {
    position: absolute;
    left: 0px;
  }
  .dashboard-wrap main {
    width: calc(100vw - 250px);
    position: absolute;
    left: 250px;
  }
}

.location-page-wrap .location-delete-btn.delete-disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  pointer-events: none;
  opacity: 0.65;
}

.location-page-wrap .table-wrap {
  overflow-y: scroll;
  height: calc(100vh - 336.492px);
}

.location-page-wrap .table-wrap table th {
  min-width: 60px;
  max-width: 200px;
  text-align: center;
}

.location-page-wrap .table-wrap table td {
  line-height: 41.5px;
  max-width: 200px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.location-page-wrap .pagination a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  .location-page-wrap .table-wrap {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 992px) {
  .location-page-wrap .table-wrap {
    height: calc(100vh - 285.492px);
  }
}

.location-mod-wrap,
.location-add-wrap {
  height: calc(100vh - 134px);
  overflow-y: scroll;
}
/*# sourceMappingURL=all.css.map */