body,
button,
input,
textarea,
option,
select {
  letter-spacing: 0.2rem;
  overflow-x: hidden;
}

label,
input,
button,
textarea,
a,
td,
th,
.modal-body,
option,
select {
  font-size: 14px !important;
}

::-webkit-scrollbar {
  width: 6.5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #dbdbdb;
}

.admin-wrap .warning-message-wrap {
  font-size: 14px;
}

.admin-wrap .warning-message-wrap .warning-message {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.admin-wrap form {
  width: 300px;
  margin: 0px auto 0px auto;
  border: 1px solid #ced4da;
}

.admin-wrap form .form-btn-group a,
.admin-wrap form .form-btn-group input {
  width: 80px;
}

@media screen and (min-width: 500px) {
  .admin-wrap form {
    width: 400px;
  }
}

.dashboard-wrap .header-icon-wrap {
  font-size: 12px;
}

.dashboard-wrap .header-icon-wrap i {
  font-size: 14px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap .header-icon-wrap .fa-sort-down::before {
  position: relative;
  top: -2px;
}

.dashboard-wrap .header-icon-wrap a > i:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.dashboard-wrap aside {
  position: absolute;
  left: -250px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap aside.active {
  position: absolute !important;
  left: 0px !important;
}

.dashboard-wrap aside .accordion .accordion-item {
  padding: 12px 0 12px 0;
}

.dashboard-wrap aside .accordion .accordion-item.active {
  background-color: #545b62 !important;
}

.dashboard-wrap aside .accordion .accordion-item.active .fa-angle-down::before {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dashboard-wrap aside .accordion .accordion-item .fa-angle-down::before {
  width: 9.25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dashboard-wrap aside .accordion li i {
  width: 30px;
}

.dashboard-wrap aside .accordion .accordion-item-list {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: gray;
  border-radius: 0 0 0.25rem 0.25rem;
}

.dashboard-wrap aside .accordion .accordion-item-list.active {
  max-height: 500px;
}

.dashboard-wrap aside .accordion .accordion-item-list a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 0 12px 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap aside .accordion .accordion-item-list a:hover {
  color: white;
}

.dashboard-wrap main {
  width: 100vw;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.dashboard-wrap main.active {
  position: absolute !important;
  left: 250px !important;
}

.dashboard-wrap main .breadcrumb a {
  font-size: 12px !important;
}

@media screen and (min-width: 768px) {
  .dashboard-wrap aside {
    position: absolute;
    left: 0px;
  }
  .dashboard-wrap main {
    width: calc(100vw - 250px);
    position: absolute;
    left: 250px;
  }
}

.home-page-wrap {
  overflow-y: scroll;
}

.home-page-wrap .location-map .gm-style-iw {
  max-width: 280px !important;
  padding: 18px 0 0 18px !important;
}

.home-page-wrap .location-map .gm-style-iw .gm-style-iw-d img {
  width: 244px !important;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8px;
}

.home-page-wrap .location-map button.gm-ui-hover-effect {
  top: 0px !important;
  right: -2px !important;
}

.home-page-wrap .location-map div[role='button']:focus {
  outline: none !important;
}

.home-page-wrap .location-map div[role='button']:hover {
  cursor: pointer;
}

.home-page-wrap .location-chart-wrap {
  width: 100%;
}

.home-page-wrap .location-chart-wrap canvas {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page-wrap .location-list-wrap {
  margin: auto;
  width: 95%;
}

.home-page-wrap .location-list-wrap .location-list {
  overflow-y: scroll;
  height: 180px;
}

.home-page-wrap .location-list-wrap h4 {
  font-size: 20px;
}

.home-page-wrap .location-list-wrap .location-chart-title i {
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.home-page-wrap .location-list-wrap .location-chart-title i:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.home-page-wrap .member-chart-wrap {
  width: 300px;
}

.home-page-wrap #member-chart-year {
  font-size: 20px;
}

.home-page-wrap .member-chart-detail {
  font-size: 12px;
}

@media screen and (min-width: 500px) {
  .home-page-wrap .member-chart-wrap {
    width: 400px;
  }
  .home-page-wrap .location-list-wrap .location-list {
    overflow-y: scroll;
    height: 300px;
  }
}

@media screen and (min-width: 576px) {
  .home-page-wrap .location-map .gm-style-iw {
    max-width: 339.48px !important;
    padding: 18px 0 0 18px !important;
  }
  .home-page-wrap .location-map .gm-style-iw .gm-style-iw-d img {
    width: 303.48px !important;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 992px) {
  .home-page-wrap .location-chart-wrap {
    width: 60%;
  }
  .home-page-wrap .location-list-wrap {
    width: 230px;
    margin: 0 0 0 0;
  }
  .home-page-wrap .location-list-wrap .location-list {
    height: 500px;
  }
  .home-page-wrap .location-list-wrap h4 {
    font-size: 24px;
  }
  .home-page-wrap .member-chart-wrap {
    width: 500px;
  }
  .home-page-wrap #member-chart-year {
    font-size: 24px;
  }
  .home-page-wrap .member-chart-detail {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .home-page-wrap .location-chart-wrap {
    width: 50%;
  }
  .home-page-wrap .location-list-wrap {
    width: 270px;
  }
}

.location-page-wrap .location-delete-btn.delete-disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  pointer-events: none;
  opacity: 0.65;
}

.location-page-wrap .table-wrap {
  overflow-y: scroll;
  height: calc(100vh - 340px);
}

.location-page-wrap .table-wrap table th {
  min-width: 90px;
  max-width: 200px;
  text-align: center;
}

.location-page-wrap .table-wrap table td {
  line-height: 41.5px;
  max-width: 200px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.location-page-wrap .pagination a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  .location-page-wrap .table-wrap {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 992px) {
  .location-page-wrap .table-wrap {
    height: calc(100vh - 289px);
  }
}

.location-mod-wrap,
.location-add-wrap {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.location-mod-wrap .mod-modal-img,
.location-add-wrap .add-modal-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 576px) {
  .location-mod-wrap .mod-modal-img,
  .location-add-wrap .add-modal-img {
    height: auto;
  }
}
/*# sourceMappingURL=all.css.map */