// 全域樣式
body,
button,
input,
textarea,
option,
select {
  letter-spacing: 0.2rem;
  overflow-x: hidden;
}

label,
input,
button,
textarea,
a,
td,
th,
.modal-body,
option,
select {
  font-size: 14px !important;
}

::-webkit-scrollbar {
  width: 6.5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(219, 219, 219);
}

// 登入頁
.admin-wrap {
  .warning-message-wrap {
    font-size: 14px;
    .warning-message {
      transition: 0.15s;
    }
  }
  form {
    width: 300px;
    margin: 0px auto 0px auto;
    border: 1px solid #ced4da;
    .form-btn-group {
      a,
      input {
        width: 80px;
      }
    }
  }
}
// 登入頁 RWD
@media screen and (min-width: 500px) {
  .admin-wrap {
    form {
      width: 400px;
    }
  }
}

// Layout
.dashboard-wrap {
  // 頁首
  .header-icon-wrap {
    font-size: 12px;
    i {
      font-size: 14px;
      transition: 0.15s;
    }
    //
    .fa-sort-down::before {
      position: relative;
      top: -2px;
    }
    //
    a > i:active {
      transform: scale(0.95);
    }
  }
  // 選單
  aside {
    position: absolute;
    left: -250px;
    transition: 0.15s;
    &.active {
      position: absolute !important;
      left: 0px !important;
    }
    //
    .accordion {
      .accordion-item {
        padding: 12px 0 12px 0;
        &.active {
          background-color: #545b62 !important;
          .fa-angle-down::before {
            transform-origin: center;
            transform: rotate(180deg);
          }
        }
        .fa-angle-down::before {
          width: 9.25px;
          transition: 0.3s;
        }
      }
      //
      li i {
        width: 30px;
      }
      //
      .accordion-item-list {
        max-height: 0px;
        overflow: hidden;
        transition: 0.3s;
        background-color: gray;
        border-radius: 0 0 0.25rem 0.25rem;
        &.active {
          max-height: 500px;
        }
        a {
          display: block;
          color: rgba(255, 255, 255, 0.5);
          padding: 12px 0 12px 0;
          transition: 0.15s;
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
  // 內容
  main {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: absolute;
    left: 0px;
    transition: 0.15s;
    &.active {
      position: absolute !important;
      left: 250px !important;
    }
    //
    .breadcrumb {
      a {
        font-size: 12px !important;
      }
    }
  }
}
// Layout RWD
@media screen and (min-width: 768px) {
  .dashboard-wrap {
    aside {
      position: absolute;
      left: 0px;
    }
    //
    main {
      width: calc(100vw - 250px);
      position: absolute;
      left: 250px;
    }
  }
}

// 首頁
.home-page-wrap {
  overflow-y: scroll;
  .location-map {
    .gm-style-iw {
      max-width: 280px !important;
      padding: 18px 0 0 18px !important;
      .gm-style-iw-d {
        img {
          width: 244px !important;
          height: 150px;
          object-fit: cover;
          margin-bottom: 8px;
        }
      }
    }

    button.gm-ui-hover-effect {
      top: 0px !important;
      right: -2px !important;
    }

    div[role='button'] {
      &:focus {
        outline: none !important;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  //
  .location-chart-wrap {
    width: 100%;
    canvas {
      width: 500px;
      height: 500px;
      object-fit: cover;
    }
  }
  .location-list-wrap {
    margin: auto;
    width: 90%;
    .location-list {
      overflow-y: scroll;
    }
    h4 {
      font-size: 20px;
    }
    .location-chart-title i {
      cursor: pointer;
      transition: 0.15s;
      &:active {
        transform: scale(0.97);
      }
    }
  }
  .member-chart-wrap {
    width: 300px;
  }
  #member-chart-year {
    font-size: 20px;
  }
}

// 首頁 RWD
@media screen and (min-width: 500px) {
  .home-page-wrap {
    .member-chart-wrap {
      width: 400px;
    }
  }
}
@media screen and (min-width: 576px) {
  .home-page-wrap {
    // Google Map Style
    .location-map {
      .gm-style-iw {
        max-width: 339.48px !important;
        padding: 18px 0 0 18px !important;
        .gm-style-iw-d {
          img {
            width: 303.48px !important;
            height: 200px;
            object-fit: cover;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .home-page-wrap {
    .location-chart-wrap {
      width: 60%;
    }
    .location-list-wrap {
      width: 230px;
      margin: 0 0 0 0;
      .location-list {
        height: 500px;
      }
      h4 {
        font-size: 24px;
      }
    }
    .member-chart-wrap {
      width: 500px;
    }
    #member-chart-year {
      font-size: 24px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .home-page-wrap {
    .location-chart-wrap {
      width: 50%;
    }
    .location-list-wrap {
      width: 270px;
    }
  }
}

// 據點消息頁
.location-page-wrap {
  .location-delete-btn {
    &.delete-disabled {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
      pointer-events: none;
      opacity: 0.65;
    }
  }
  //
  .table-wrap {
    overflow-y: scroll;
    height: calc(100vh - 340px);
    table {
      th {
        min-width: 90px;
        max-width: 200px;
        text-align: center;
      }
      td {
        line-height: 41.5px;
        max-width: 200px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
  //
  .pagination {
    a {
      &:focus {
        box-shadow: none;
      }
    }
  }
}
// 據點消息頁 RWD
@media screen and (min-width: 768px) {
  .location-page-wrap {
    .table-wrap {
      overflow-y: scroll;
    }
  }
}
@media screen and (min-width: 992px) {
  .location-page-wrap {
    .table-wrap {
      height: calc(100vh - 289px);
    }
  }
}

// 據點消息頁 - 修改 / 據點消息頁 - 新增
.location-mod-wrap,
.location-add-wrap {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.location-mod-wrap .mod-modal-img,
.location-add-wrap .add-modal-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
// 據點消息頁 - 修改 RWD / 據點消息頁 - 新增 RWD
@media screen and (min-width: 576px) {
  .location-mod-wrap .mod-modal-img,
  .location-add-wrap .add-modal-img {
    height: auto;
  }
}
